.dv {
  position: relative;
  float: left;
}
.dv-14 {
  width: 25%;
}
.dv-13 {
  width: 33.333%;
}
.dv-12 {
  width: 50%;
}
.dv-23 {
  width: 66.666%;
}
body {
  background-color: #ecf0f1;
}
.btn-menu {
  width: 49px;
  height: 41px;
  border: none;
  text-indent: -9999px;
  margin-top: 1.6em;
  margin-left: 1em;
  background-image: url("../slices/desktop/menu-icon.png");
  background-repeat: no-repeat;
  background-color: transparent;
}
.btn-menu:hover {
  opacity: 0.5;
}
.btn-social {
  border: 1px solid #2481ba;
  background-color: #fff;
  padding: 0.5em 1em;
  box-shadow: 0 1px 3px rgba(0,0,0,0.1);
  margin-top: 1.5em;
  margin-left: 2em;
  display: inline-block;
  font-variant: small-caps;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.btn-social-facebook {
  color: #335190;
}
.btn-social-twitter {
  color: #00aef2;
}
.block h1 {
  font-size: 1.8em;
}
.block-row {
  display: block;
  position: relative;
}
.box {
  padding-top: 5rem;
}
.container-full-width {
  background-color: #3498db;
}
.container-header {
  padding-top: 1.2em;
  position: relative;
  zoom: 1;
}
.container-header:after,
.container-header:before {
  content: "";
  display: table;
}
.container-header:after {
  clear: both;
}
.container-header .link-home {
  display: block;
  position: relative;
}
.container-header .link-home .logo-image {
  display: block;
  float: left;
  position: relative;
}
.container-header .link-home .logo-slogan {
  color: #d0f2ff;
  font-size: 1.2em;
  position: relative;
  margin-top: 3em;
  margin-left: 1em;
  display: block;
  float: left;
}
.container-header .header-social {
  text-align: right;
}
